body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qsoTable {
    border-collapse: separate;
    border-spacing: 2rem 0;
    padding-bottom: 3rem;
}

.qsoTable td {
    padding-bottom: 1rem;
}

.qsoTable .lineRow {
    font-weight: 600;
    font-size: 1.25rem;
    border-spacing: 0 4rem;
}

.qsoTable .lineRowCQ {
    color: #8B0000;
}

.qsoTable .lineRowCaller {
    color: #006400;
}

.qsoTable .instructionsRow {
    font-size: 0.8rem;
}

.controls {
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}

.subtitle {
    text-align: center;
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: gray;
}

.text-inputs {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.text-inputs label {
    margin-right: 10px;
}

.text-inputs input[type="number"] {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 60px;
    margin-right: 10px;
}

.dropdown-select {
    margin-right: 10px;
}

.button-go {
    background: rgb(28, 184, 65);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 125%;
}